<div class="row d-flex flex-row">
  <div class="col-xl-3 col-lg-6 col-xs-12">
    <div class="card">
        <div class="card-body">
            <div class="card-block">
                <div  style="font-size: 28px; font-weight: 500;" class="media d-flex justify-content-center">
                  <span style="color: royalblue;" class="mr-2">Title:</span> Pera
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-xs-12">
    <div class="card">
        <div class="card-body">
            <div class="card-block">
                <div  style="font-size: 28px; font-weight: 500;" class="media d-flex justify-content-center">
                  <span style="color: royalblue;" class="mr-2">Date:</span> 10-3-2020
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-xs-12">
    <div class="card">
        <div class="card-body">
            <div class="card-block">
                <div  style="font-size: 28px; font-weight: 500;" class="media d-flex justify-content-center">
                  <span style="color: royalblue;" class="mr-2">Tasks:</span> 10
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-xs-12">
    <div class="card">
        <div class="card-body">
            <div class="card-block">
                <div  style="font-size: 28px; font-weight: 500;" class="media d-flex justify-content-center">
                  <span style="color: royalblue;" class="mr-2">Done:</span> 0
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div style="min-width: 320px;" class="container col-6 modal-content mt-4">
  <div class="mt-5"></div>
  <div *ngFor="let item of niz; let i = index"  class=" row pr-5 ml-5 mr-5">
    <div style="width: 40px;"><input  style="margin-top: 10px; height: 20px; width: 20px;" type="checkbox" [checked]=item.checked (click)="click(item)" /></div>
    <p *ngIf="item.checked" style="text-decoration: line-through; text-decoration-color: royalblue; font-size: 20px;">{{item.title}}</p><p style="font-size: 20px;" *ngIf="!item.checked">{{item.title}}</p>
  </div>
  
  <div class="row p-5">
    <h3 style="color: royalblue;">Note:</h3>
    <textarea style="width: 100%; min-height: 100px; max-height: 100px;" >sdasd</textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info mr-3" (click)="Exit()" >Close</button>
  </div>
</div>