<div style="background-color: #ffffff;" class="container-fluid col-10 pb-5 rounded ">

    <div style="font-size: 32px; font-weight: 700; background-color: #3AAFA9;" class="row rounded-top p-4 mt-4 d-flex justify-content-around">
        <div class="col-xl-4 col-xs-12 ">
            Title: &nbsp;<span style="color: #F0F0EF;">{{title}}</span> 
        </div>
        <div class="col-xl-4 col-xs-12 ">
            Date: &nbsp;<span style="color: #F0F0EF;">{{date2}}</span> 
        </div>
    </div>
    <div  style="color: #3AAFA9; font-size: 32px; font-weight: 700;"  class="row mt-5 d-flex justify-content-around">
        <div class="col-xl-4 col-xs-12">
            <div >Description:</div>
            <p *ngIf="description===''" class="p-1" style="color: gray;  font-size: 20px; font-weight: 700;">
                It doesn't have any description
            </p>
            <p class="p-1" style="color: gray;  font-size: 20px; font-weight: 700;">
                {{description}}
            </p>
        </div>
        <div class="col-xl-4 col-xs-12 ">
            <div >Day's to remind:</div>
            <div class="row d-flex justify-content-center">
                <div *ngIf="value==1" class="mt-2 w-100 d-flex ml-5 pl-5" style="color: gray; font-size: 24px; font-weight: 600; ">
                    <p>Every day</p>
                </div>
                <div *ngIf="value==2" class="mt-2 w-100" style="color: gray; font-size: 24px; font-weight: 600;">
                    <p>Habbit will appear {{dys}} times a week</p>
                </div>
                <div *ngIf="value==3" class="d-flex mt-5 w-100 " style="font-size: 24px; font-weight: 600; margin-right: 140px;">
                    <span style="cursor: pointer;" class="ml-3" *ngFor="let item of weekDays"> 
                        <div *ngIf="item.checked===true" class="d-flex justify-content-center rounded p-1" style="background-color: #3AAFA9; color: white;">{{item.title}}</div>
                        <span *ngIf="item.checked===false">{{item.title}}</span>
                    </span>
                </div>
                <div  *ngIf="value==4" class="d-flex  mt-4 flex-wrap  " style="font-size: 24px; font-weight: 600; width: 300px; margin-right: 140px;">
                    <span  style="width: 25px; cursor: pointer;" class="ml-3" *ngFor="let item of monhtns">
                        <div *ngIf="item.checked===true" class="d-flex justify-content-center rounded" style="background-color: #3AAFA9; color: white; margin-top: 1px; width: 30px;">{{item.index}}</div>
                        <span  *ngIf="item.checked===false">{{item.index}}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row  d-flex flex-column align-items-center mt-5" style="color: #3AAFA9; font-size: 32px; font-weight: 700; ">
        <div style="background-color: #3AAFA9; color: #F0F0EF;" class="col-xl-10  col-xs-12 rounded-top p-2">Comment's:</div>
        <div class="col-xl-10  col-xs-12 border  d-flex flex-column align-items-baseline ">
               <div *ngIf="comments.length==0" style="font-size: 20px;" class="d-flex justify-content-center p-3">You don't have any comment on this habbit</div>
                <div *ngFor="let item of comments"  style="font-size: 18px; " class="row flex-column ml-4 mt-2">
                    <div class="row" style="color: black;" class="row ml-1">{{item.Date}}</div>
                    <p>{{item.Comment}}</p>
                </div>

        </div>
    </div>  
    <div class="row mt-5 d-flex justify-content-around" style="color: #3AAFA9; font-size: 32px; font-weight: 700;">

        <div class="col-xl-8 col-xs-12 d-flex flex-column align-items-center">
            <!-- <div class="row">Add new comment    :</div> -->
            <div  class="row col-12 flex-column mt-5">
                <div style="font-size: 22px; color: 	#F0F0EF; background-color: #3AAFA9;" class="row justify-content-between p-2">
                    <span>New Comment:</span>
                    <span>{{date.getDate()+"/"+(date.getMonth()+1)+"/"+date.getFullYear()}}</span>
                </div>
                <div class="row border"><textarea placeholder="e.g. i failed first week because..." [(ngModel)]="comment"  style="resize:none; width: 100%; border-color: transparent; font-size: 20px; font-weight: 500;" class="p-3 form-control"></textarea></div>

            </div>
            
            <div  class="d-flex row col-12 justify-content-end p-2" ><button style=" background-color: #3AAFA9;" class="btn btn-info" (click)="handleAddComment()">Add Comment</button></div>
        </div>
        
    </div>  
    <div class="validation">{{error.comment}}</div>
    <div style="height: 50px;" class="container col-7 mt-5">
        <div class="row   d-flex justify-content-center ">
            <button style="height: 40px;"routerLink="/dashboard/habbit"  class="btn btn-secondary ml-3">Return</button>
        </div>
    </div>
</div>