.pera
{
    src: url('./logo.jpg');
}

.menuItem
{
   height: 82px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   font-family: courier,arial,helvetica;
   font-weight: 500;

}

.menuItem p
{
    margin-top: 15px;
}

.menuItem p:hover
{
    color: royalblue;
    transition: 0.7s;
}

.mainSliderItem
{
    opacity: 0.8;
    background-color: black;
    border-radius: 1.2%;
}