
<div class="w3-sidebar w3-bar-block "  style="display:none; width: 230px; background-color: black; z-index: 999;" id="mySidebar">
  <button (click)="w3_close()" onclick="w3_close()" style="background-color: black; color: white;" class="w3-bar-item w3-large h3">
    &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;
    &times;</button>
    <div class="container d-flex flex-column ml-4">
      <div class="row h3 sideBarItem" routerLink="/"><p>Home</p></div>
      <div class="row h3 sideBarItem" routerLink="/"><p>Forum</p></div>
      <div class="row h3 sideBarItem" routerLink="/"><p>Moje Stvari</p></div>
      <div class="row h3 sideBarItem" (click)="service.isLoggedIn()?logOut():logIn()"><p>{{service.isLoggedIn()===true?"Odjavi se":"Prijavi se"}}</p></div>
    </div>
</div>

<!--MENU-->
<div style="height: 80px; background-color: black; width: 100%;" >
    <div class="row d-flex justify-content-center align-items-center">
      <div  class="col-2 d-flex justify-content-center menuPicture">
       <img src="./logo.jpg" style="height: 60px; cursor: pointer; "  alt="image">
      </div>
      <div  className="menuLeft" class=" col-9 d-flex menuLeft justify-content-center">
          <div style="color: whitesmoke; cursor: pointer;" class="col-1 menuItem ">
            <p>Home</p>
          </div> 
          <div style="color: whitesmoke; cursor: pointer;" class="col-1  menuItem">
            <p>Forum</p>
          </div> 
         <div style="color: whitesmoke; cursor: pointer;" class="col-2 menuItem">
            <p>Moje stvari</p>
         </div> 
        
        <div style="color: whitesmoke; cursor: pointer;"
                class=" col-2    menuItem"
                    (click)="service.isLoggedIn()?logOut():logIn()"
                >
                <p>{{service.isLoggedIn()===true?"Odjavi se":"Prijavi se"}} </p>
        </div>
        <div className="menuRight" class=" col-1 mt-4 menuRight"  >
        
          <img style="cursor: pointer;" src="/assets/sideBar/1.png" (click)="sideBar===true?w3_close(): w3_open()" width="45px" alt="img" />
  
        </div>
      </div>
      
    </div>
</div>
<!--END OF MENU-->



<!--SLIDER-->
<ngb-carousel #carousel [interval]="6000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
  <ng-template  ngbSlide *ngFor="let img of images; index as i">
    <div class="carousel-caption rounded mainSliderItem ">
      <h4>{{niz1[i]}}</h4>
      <p>{{niz2[i]}}</p>
    </div>
      <div class="picsum-img-wrapper ">
        <img [src]="img" class="img-fluid" alt="My image {{i + 1}} description">
      </div>
  </ng-template>
</ngb-carousel>
<!--END OF SLIDER-->

<!--INROMATION 1-->
<div class="container mt-5 " >
  <div class="row h2 d-flex justify-content-center align-items-center mr-5">Kako ovo funkcioniše?</div>
  <div class="row d-flex justify-content-center align-items-center mr-5">Ova aplikacija je osmišljena kako bi pomogla ljudima da lakše organizuju dan i da zabeleže svoje nezaboravne trenutke </div>
  <div class="row d-flex flex-wrap">
    <div style="width: 450px;"  class=" mt-5 ml-4">
        <div class="row d-flex justify-content-between mt-5">
          <div class="col-4"><img  src="/assets/menuPictures/1.jpg"   class="img-fluid" /></div>
          <div class="col-4 "><img src="/assets/menuPictures/2.jpg"   class="img-fluid" /></div>
          <div class="col-4"><img src="/assets/menuPictures/3.jpg"   class="img-fluid" /></div>
        </div>
        <div class="row mt-5"><div class="col-12"><img src="/assets/menuPictures/4.jpg"   class="img-fluid" /></div></div>
    </div>
    <div style="width: 400px;" class=" mt-5  ">
      <div style="height: 140px;" class="row">
        <div class="col-1 border-right border-dark"></div>
        <div  class="col-2  border-top border-dark"></div>
        <div clas="col-1"><img style="position: relative; bottom: 27px; left:10px;" src="/assets/menuIcons/1.png" class="img-fluid" /></div>
        <div style="position: relative; left: 30px; bottom: 30px;" class="col-5">
          <div class="row h3">Registruj se</div>
          <div style="font-size: 12px; color: gray;" class="row">Klikom na dugme Prijavi se, aplikacija vas vodi gde možete se registrovati ili prijaviti ukoliko već imate nalog.</div>
        </div>
      </div>
      <div style="height: 140px;" class="row">
        <div class="col-1 border-right border-dark"></div>
        <div class="col-1 border-top border-dark"></div>
        <div clas="col-1"><img style="position: relative; bottom: 27px; left:10px;" class="img-fluid" src="/assets/menuIcons/2.png" /></div>
        <div style="position: relative; left: 30px; bottom: 30px;" class="col-5">
          <div class="row h3">Forum</div>
          <div style="font-size: 12px; color: gray;" class="row">Koristi forum da bi razmeni mišljenje sa ostalim korisnicima.</div>
        </div>
      </div>
      <div style="height: 140px;" class="row">
        <div class="col-1 border-right border-dark"></div>
        <div class="col-2 border-top border-dark"></div>
        <div clas="col-1 mb-5"><img style="position: relative; bottom: 27px; left:10px;" class="img-fluid" src="/assets/menuIcons/3.png" /></div>
        <div style="position: relative; left: 30px; bottom: 30px;" class="col-5">
          <div class="row h3">Todo</div>
          <div style="font-size: 12px; color: gray;" class="row desc">ToDo lista je jedan od najboljih načina da se organizuje vreme.</div>
        </div>
      </div>
      <div style="height: 140px;" class="row">
        <div class="col-1 "></div>
        <div class="col-1 border-top border-dark"></div>
        <div clas="col-1" ><img style="position: relative; bottom: 27px; left:10px;" class="img-fluid" src="/assets/menuIcons/4.png" /></div>
        <div style="position: relative; left: 30px; bottom: 30px;" class="col-5">
          <div class="row h3">Navike</div>
          <div style="font-size: 12px; color: gray;" class="row">Imate neku naviku koju bi ste hteli da steknete, ova aplikaciju vam pomaže u tome.</div>
        </div>
      </div>
    </div> 
    </div>
</div>
<!--END OF INROMATION 1-->

<!--INFOMRATION 2-->

<div style="background-color: #f7f8f9;" class="whyBeDoHaveContainer"  class="container-fluid whyBeDoHaveContainer">
  <div class="row d-flex justify-content-center align-items-center  ">
    <h2 class="mt-4">Zašto baš BeDo<span style="color: royalblue;">Have</span>?</h2>
  </div>
  <div style="height: 400px;" className="whyBeDoHaveContainer" class="container mt-5 whyBeDoHaveContainer">
    <div class="row d-flex justify-content-center align-items-center">
      <div style="width: 500px;">
        <!--PRVI RED-->
        <div class="row ">
          <div class="col-6">
              <div class="row">
                <div class="col-1 "><img src="/assets/whyBeDoHave/4.png" /></div>
                <div class="col-11 h5 mt-1">Dodavanje komentara</div>
              </div>
              <div class="row">
                <div class="col-1"></div>
                <div class="col-11"><p style="color: gray; font-size: 12px;">Dodavanje komentara i razmenom mišljenja može se steći neko novo iskustvo</p></div>
              </div>
              
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-1 "><img src="/assets/whyBeDoHave/1.png" /></div>
              <div class="col-11 h5 mt-1">Todo Lista</div>
            </div>
            <div class="row">
              <div class="col-1"></div>
              <div class="col-11"><p style="color: gray; font-size: 12px;">Iskoristi dan maksimalno uz pomoć našu ToDo listu i čekiraj šta si sve završio</p></div>
            </div>
          </div>
        </div>
        <!--Drugi RED-->
        <div class="row mt-5">
            <div class="col-6 ">
                <div class="row">
                  <div class="col-1 "><img src="/assets/whyBeDoHave/2.png" /></div>
                  <div class="col-11 h5 mt-1">Navike</div>
                </div>
                <div class="row ">
                  <div class="col-1"></div>
                  <div class="col-11"><p style="color: gray; font-size: 12px;">Stekni neku novu naviku koji si hteo već dugi vremenski period</p></div>
                </div>
                
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-1 "><img src="/assets/whyBeDoHave/3.png" /></div>
                <div class="col-11 h5 mt-1">Dnevnik</div>
              </div>
              <div class="row">
                <div class="col-1"></div>
                <div class="col-11"><p style="color: gray; font-size: 12px;">Zabeleži svaki svoj dan na jednom mestu</p></div>
              </div>
            </div>
        </div>
      </div>
      <div style="width: 500px;" >
        <img src="assets/satisfaction.jpg"  width="450px" class="img-fluid" alt="img"/>
      </div>
    </div>
  </div>
  </div>
<!--END OF INFOMRATION 2-->


<!--FOOTER-->
<div style="background-color: black; height: 70px;" class="d-flex justify-content-center align-items-center ">
    <p class="mt-3" style="color: gray;">Copyright © <span style="color: white;">BeDo</span><span style="color: royalblue;">Have</span>. All Rights Reserved.</p>
</div>
<!--END OF FOOTER-->