<!--SIDEBAR-->

<div class="w3-sidebar w3-bar-block "  style="display:none; width: 230px; background-color: black; z-index: 999;" id="mySidebar">
  <button (click)="w3_close()" onclick="w3_close()" style="background-color: black; color: white;" class="w3-bar-item w3-large h3">
    &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;
    &times;</button>
    <div class="container d-flex flex-column ml-2">
      <div class="row h3 sideBarItem" routerLink="/"><p>Home</p></div>
      <div class="row h3 sideBarItem" routerLink="/"><p>Forum</p></div>
      <div class="row h3 sideBarItem" routerLink="dashboard/user"><p>Dasboard</p></div>
      <div class="row h3 sideBarItem" (click)="service.isLoggedIn()?logOut():logIn()"><p>{{service.isLoggedIn()===true?"Log out":"Log in"}}</p></div>
    </div>
</div>

<!--END OF SIDEBAR-->

<!--MENU-->

<div style="height: 80px; background-color: black; width: 100%;" >
    <div class="row d-flex justify-content-center align-items-center">
      <div  class="col-2 d-flex justify-content-center menuPicture">
       <img src="./logo.jpg" style="height: 60px; cursor: pointer; "  alt="image">
      </div>
      <div  className="menuLeft" class=" col-9 d-flex menuLeft justify-content-center">
          <div style="color: whitesmoke; cursor: pointer;" class="col-1 menuItem ">
            <p>Home</p>
          </div> 
          <div style="color: whitesmoke; cursor: pointer;" class="col-1  menuItem">
            <p>Forum</p>
          </div> 
         <div style="color: whitesmoke; cursor: pointer;" class="col-2 menuItem">
            <p routerLink="dashboard/user">Dasboard</p>
         </div> 
        
        <div style="color: whitesmoke; cursor: pointer;"
                class=" col-2    menuItem"
                    (click)="service.isLoggedIn()?logOut():logIn()"
                >
                <p>{{service.isLoggedIn()===true?"Log out":"Log in"}} </p>
        </div>
        <div className="menuRight" class=" col-1 mt-4 menuRight"  >
        
          <img style="cursor: pointer;" src="/assets/sideBar/1.png" (click)="sideBar===true?w3_close(): w3_open()" width="45px" alt="img" />
  
        </div>
      </div>
      
    </div>
</div>

<!--END OF MENU-->

<!--SLIDER-->

<ngb-carousel #carousel [interval]="6000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
  <ng-template  ngbSlide *ngFor="let img of images; index as i">
    <div class="carousel-caption rounded mainSliderItem ">
      <h4>{{niz1[i]}}</h4>
      <p>{{niz2[i]}}</p>
    </div>
      <div class="picsum-img-wrapper ">
        <img [src]="img" class="img-fluid" alt="My image {{i + 1}} description">
      </div>
  </ng-template>
</ngb-carousel>

<!--END OF SLIDER-->

<!--INROMATION 1-->
<div class="container mt-5 " >
  <div class="row h2 d-flex justify-content-center align-items-center mr-5">How this works?</div>
  <div class="row d-flex justify-content-center align-items-center mr-5">This aplication is created to help peoples to easy organise day and track wonderfull moments</div>
  <div class="row d-flex flex-wrap">
    <div style="width: 450px;"  class=" mt-5 ml-4">
        <div class="row d-flex justify-content-between mt-5">
          <div class="col-4"><img  src="/assets/menuPictures/1.jpg"   class="img-fluid" /></div>
          <div class="col-4 "><img src="/assets/menuPictures/2.jpg"   class="img-fluid" /></div>
          <div class="col-4"><img src="/assets/menuPictures/3.jpg"   class="img-fluid" /></div>
        </div>
        <div class="row mt-5"><div class="col-12"><img src="/assets/menuPictures/4.jpg"   class="img-fluid" /></div></div>
    </div>
    <div style="width: 400px; " class=" mt-5 ml-4 ">
      <div style="height: 140px;" class="row">
        <div class="col-1 border-right border-dark"></div>
        <div  class="col-2  border-top border-dark"></div>
        <div clas="col-1"><img style="position: relative; bottom: 27px; left:10px;" src="/assets/menuIcons/1.png" class="img-fluid" /></div>
        <div style="position: relative; left: 30px; bottom: 30px;" class="col-5">
          <div class="row h3">Register</div>
          <div style="font-size: 12px; color: gray;" class="row">Click od button 'Log In', web application will gude you to register page or log in page if you already have account.</div>
        </div>
      </div>
      <div style="height: 140px;" class="row">
        <div class="col-1 border-right border-dark"></div>
        <div class="col-1 border-top border-dark"></div>
        <div clas="col-1"><img style="position: relative; bottom: 27px; left:10px;" class="img-fluid" src="/assets/menuIcons/2.png" /></div>
        <div style="position: relative; left: 30px; bottom: 30px;" class="col-5">
          <div class="row h3">Forum</div>
          <div style="font-size: 12px; color: gray;" class="row">Use forum to share thoughts with other users.</div>
        </div>
      </div>
      <div style="height: 140px;" class="row">
        <div class="col-1 border-right border-dark"></div>
        <div class="col-2 border-top border-dark"></div>
        <div clas="col-1 mb-5"><img style="position: relative; bottom: 27px; left:10px;" class="img-fluid" src="/assets/menuIcons/3.png" /></div>
        <div style="position: relative; left: 30px; bottom: 30px;" class="col-5">
          <div class="row h3">Todo</div>
          <div style="font-size: 12px; color: gray;" class="row desc">ToDo list is one of the best way to organise time.</div>
        </div>
      </div>
      <div style="height: 140px;" class="row">
        <div class="col-1 "></div>
        <div class="col-1 border-top border-dark"></div>
        <div clas="col-1" ><img style="position: relative; bottom: 27px; left:10px;" class="img-fluid" src="/assets/menuIcons/4.png" /></div>
        <div style="position: relative; left: 30px; bottom: 30px;" class="col-5">
          <div class="row h3">Habbits</div>
          <div style="font-size: 12px; color: gray;" class="row">You want to acquire some new habbit, this web application will help you to achieve that.</div>
        </div> 
      </div>
    </div> 
    </div>
</div>
<!--END OF INROMATION 1-->

<!--INFOMRATION 2-->

<div style="background-color: #f7f8f9;" class="whyBeDoHaveContainer"  class="container-fluid whyBeDoHaveContainer">
  <div class="row d-flex justify-content-center align-items-center  ">
    <h2 class="mt-4">Why BeDo<span style="color: royalblue;">Have</span>?</h2>
  </div>
  <div style="height: 400px;" className="whyBeDoHaveContainer" class="container mt-5 whyBeDoHaveContainer">
    <div class="row d-flex justify-content-center align-items-center">
      <div style="width: 500px;">
        <!--PRVI RED-->
        <div class="row ">
          <div class="col-6">
              <div class="row">
                <div class="col-1 "><img src="/assets/whyBeDoHave/4.png" /></div>
                <div class="col-11 h5 mt-1">Adding comments</div>
              </div>
              <div class="row">
                <div class="col-1"></div>
                <div class="col-11"><p style="color: gray; font-size: 12px;">Adding comments and share thaughts with other users can help you to get some new expirience</p></div>
              </div>
              
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-1 "><img src="/assets/whyBeDoHave/1.png" /></div>
              <div class="col-11 h5 mt-1">Todo List</div>
            </div>
            <div class="row">
              <div class="col-1"></div>
              <div class="col-11"><p style="color: gray; font-size: 12px;">'Carpet diem' with our ToDo list and check everything what are you done through day</p></div>
            </div>
          </div>
        </div>
        <!--Drugi RED-->
        <div class="row mt-5">
            <div class="col-6 ">
                <div class="row">
                  <div class="col-1 "><img src="/assets/whyBeDoHave/2.png" /></div>
                  <div class="col-11 h5 mt-1">Habbits</div>
                </div>
                <div class="row ">
                  <div class="col-1"></div>
                  <div class="col-11"><p style="color: gray; font-size: 12px;">Get some new habbits that you want certain amount of time.</p></div>
                </div>
                
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-1 "><img src="/assets/whyBeDoHave/3.png" /></div>
                <div class="col-11 h5 mt-1">Dnevnik</div>
              </div>
              <div class="row">
                <div class="col-1"></div>
                <div class="col-11"><p style="color: gray; font-size: 12px;">Track your day, all in one place</p></div>
              </div>
            </div>
        </div>
      </div>
      <div style="width: 500px;" >
        <img src="assets/satisfaction.jpg"  width="450px" class="img-fluid" alt="img"/>
      </div>
    </div>
  </div>
  </div>
<!--END OF INFOMRATION 2-->


<!--FOOTER-->
<div style="background-color: black; height: 70px;" class="d-flex justify-content-center align-items-center ">
    <p class="mt-3" style="color: gray;">Copyright © <span style="color: white;">BeDo</span><span style="color: royalblue;">Have</span>. All rights reserved.</p>
</div>
<!--END OF FOOTER-->