<div class="row d-flex flex-row">
    <div class="col-xl-3 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-left media-middle">
                            <img width="50px" src="/assets/todo.png"  alt="img"/>
                        </div>
                        <div style="width: fit-content;" class="media-body text-xs-right d-flex justify-content-end ">
                            <span >
                                <h2>{{numberOfTodos}}</h2>
                                <span style="font-size: 20px; color: gray;">Todo's</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-left media-middle">
                            <img width="50px" src="/assets/items.png"  alt="img"/>
                        </div>
                        <div style="width: fit-content;" class="media-body text-xs-right d-flex justify-content-end ">
                            <span >
                                <h2>{{nubmerOfTodoItems}}</h2>
                                <span style="font-size: 20px; color: gray;">Todo items</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-left media-middle">
                            <img width="50px" src="/assets/done.png"  alt="img"/>
                        </div>
                        <div style="width: fit-content;" class="media-body text-xs-right d-flex justify-content-end ">
                            <span >
                                <h2>{{numberOfFinishedItems}}</h2>
                                <span style="font-size: 20px; color: gray;">Finished</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media ">
                        <div class="media-left media-middle">
                            <img width="50px" src="/assets/notDone.png"  alt="img"/>
                        </div>
                        <div style="width: fit-content;" class="media-body text-xs-right d-flex justify-content-end ">
                            <span >
                                <h2>{{nubmerOfTodoItems-numberOfFinishedItems}}</h2>
                                <span style="font-size: 20px; color: gray;">Not finished</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div  class="row rounded d-flex flex-wrap justify-content-between mt-5">
    <div style="min-width: 290px;" class=" col-xl-4 mt-1  col-xs-12">
        <div class="row d-flex justify-content-center align-items-center">
            <button style="background-color: #3AAFA9;" routerLink="newtodo" class="btn btn-info">
                <i class="fa fa-plus mr-1 a"></i>New Todo
            </button>
        </div>
    </div>
    <div style="min-width: 290px;" class=" col-xl-4 mt-1  col-xs-12  flex-wrap justify-content-center  d-flex ">
        
        <input [(ngModel)]="searchDate"  type="date" placeholder="e.g. 2020-5-10" class="form-control col-10" />
        <button (click)="handleSearch()" class="btn btn-success">Search</button>
        <figcaption>Serach by date</figcaption>
    </div>
    <div  style="min-width: 290px;"class="col-xl-4 mt-1  col-xs-12  d-flex justify-content-center   ">
        
        <select (change)="setValue($event.target.value)"  class="custom-select col-8" id="inputGroupSelect01">
            <option value="0" selected>Order by</option>
            <option value="1">Date Ascending</option>
            <option value="2">Date Descending</option>
            <option value="3">Estimate Ascending</option>
            <option value="4">Estimate Descending</option>
            <option value="5">Number of items Ascending</option>
            <option value="6">Number of items Descending</option>
          </select>
    </div>
</div>
<div style="background-color: #FFFFFF;" class="table-responsive rounded mt-5 p-4">
    <table class="table  table-borderless table-hover">
        <thead class="table border-top-0">
            <tr style="font-size: 20px;" class="table border-top-0 text-center">
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Date</th>
              <th scope="col">Estimate</th>
              <th scope="col">Items</th>
              <th scope="col">Done items</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr  style="font-size: 18px; cursor: pointer;" class="text-center " *ngFor="let item of niz; index as i ">
              <th *ngIf="i>=from && i<to" scope="row" >{{i+1}}</th>
              <td *ngIf="i>=from && i<to" [routerLink]="['/dashboard/todo/detail',item.id]">{{item.Title}}</td>
              <td *ngIf="i>=from && i<to" [routerLink]="['/dashboard/todo/detail',item.id]">{{item.Date}}</td>
              <td *ngIf="i>=from && i<to" [routerLink]="['/dashboard/todo/detail',item.id]">{{ izracunaj(item,i)  }}%</td>
              <td *ngIf="i>=from && i<to" [routerLink]="['/dashboard/todo/detail',item.id]">{{item.Items}}</td>
              <td *ngIf="i>=from && i<to" [routerLink]="['/dashboard/todo/detail',item.id]">{{item.Done}}</td>
              <td *ngIf="i>=from && i<to" style="width: 100px;" >
                <span [routerLink]="['/dashboard/todo',item.id]" style="font-size: 28px; color: orange; cursor: pointer;"  class="mr-4">
                    <i class="fa fa-edit"></i>
                </span>
                <span (click)="handleDelete(item.id)" style="font-size: 28px; color: red; cursor: pointer;">
                    <i class="fa fa-times-circle"></i>
                </span>
              </td>
            </tr>
          </tbody>
    </table>
  </div>

  <div class="container d-flex justify-content-center  mt-5">
    <ngb-pagination [(page)]="page" [collectionSize]="itemsCount" (pageChange)="handlePageNumber(page)"  [pageSize]="5"  aria-label="Default pagination">
       
    </ngb-pagination>
</div>