<div class="row d-flex flex-row justify-content-between">
    
    <div class="col-xl-3 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-left media-middle">
                            <span style="font-size: 37px; color: #3aafa9;">
                                <i class="fa fa-check"></i>
                            </span>
                        </div>
                        <div style="width: fit-content;" class="media-body text-xs-right d-flex justify-content-end ">
                            <span >
                                <h2>1</h2>
                                <span style="font-size: 20px; color: gray;">Overall Estimate</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-left media-middle pt-2">
                            <img width="40px" src="/assets/habbit.png"  alt="img"/>
                        </div>
                        <div style="width: fit-content;" class="media-body text-xs-right d-flex justify-content-end ">
                            <span >
                                <h2>{{pomniz.length}}</h2>
                                <span style="font-size: 20px; color: gray;">Habbits</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media ">
                        <div class="media-left media-middle">
                            <span style="font-size: 37px; color: #3aafa9;">
                                <i class="fa fa-globe"></i>
                            </span>
                        </div>
                        <div style="width: fit-content;" class="media-body text-xs-right d-flex justify-content-end ">
                            <span >
                                <h2>3</h2>
                                <span style="font-size: 20px; color: gray;">Global Estimate</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div  class="row rounded d-flex flex-wrap justify-content-between mt-5">
    <div style="min-width: 290px;" class=" col-xl-4 mt-1  col-xs-12">
        <div class="row d-flex justify-content-center align-items-center">
            <button routerLink="/dashboard/newhabbit" style="background-color: #3AAFA9;"  class="btn btn-info">
                <i class="fa fa-plus mr-1 a"></i>New Habbit
            </button>
        </div>
    </div>
    <div style="min-width: 290px;" class=" col-xl-4 mt-1  col-xs-12  flex-wrap justify-content-center  d-flex ">
        
        <input [(ngModel)]="dateSearch" type="date" placeholder="e.g. 2020-5-10" class="form-control col-10" />
        <button (click)="handelSearch()" class="btn btn-success">Search</button>
        <figcaption>Serach by date</figcaption>
    </div>
    <div  style="min-width: 290px;"class="col-xl-4 mt-1  col-xs-12  d-flex justify-content-center   ">
        
        <select (change)="setValue($event.target.value)" class="custom-select col-8" id="inputGroupSelect01">
             <option selected value="0">Order by</option>
            <option value="1">Every day</option>
            <option value="2">Specific times in week</option>
            <option value="3">Specific days in week</option>
            <option value="4">Specific days in month</option>
          </select>
    </div>
</div>


<div style="background-color: #FFFFFF;" class="table-responsive rounded p-4 mt-5">
    <table class="table  table-borderless table-hover">
        <thead class="table border-top-0">
            <tr style="font-size: 20px;"  class="table border-top-0 text-center">
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Date</th>
              <th scope="col">Frequency</th>
              <th scope="col">WeekDay done</th>
              <th>Estimate</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
  
            <tr  style="font-size: 18px; cursor: pointer;" class="text-center"  *ngFor="let item of niz; index as i ">
              <th *ngIf="i>=from && i<to" scope="row">{{i+1}}</th>
              <td *ngIf="i>=from && i<to"  [routerLink]="['/dashboard/habbit/detail',item.id]">{{item.Title}}</td>
              <td *ngIf="i>=from && i<to"  [routerLink]="['/dashboard/habbit/detail',item.id]">{{item.Date}}</td>
              <td *ngIf="i>=from && i<to"  [routerLink]="['/dashboard/habbit/detail',item.id]">{{check(item)}}</td>
              <td *ngIf="i>=from && i<to">
                <div class="row d-flex pl-5 ml-5">
               
                    <div *ngFor="let it of weekDays; index as i" >
        
                        <div [satPopoverAnchor]="p" (click)="p.toggle()" *ngIf="it.color==0" style="background-color: #E8E8E8; width: 40px; height: 40px; color: black; padding-top: 6px; padding-left: 1px;" class="rounded-circle m-1 text-center "placement="bottom">{{it.title}}</div>
                        <div [satPopoverAnchor]="p" (click)="p.toggle()" *ngIf="it.color==1" style="background-color: #3CB371; width: 40px; height: 40px; color: white; padding-top: 6px; padding-left: 1px;" class="rounded-circle m-1 text-center">{{it.title}}</div>
                        <div [satPopoverAnchor]="p" (click)="p.toggle()" *ngIf="it.color==2" style="background-color: #DC143C; width: 40px; height: 40px; color: white; padding-top: 6px; padding-left: 1px;" class="rounded-circle m-1 text-center">{{it.title}}</div>
                        <div [satPopoverAnchor]="p" (click)="p.toggle()" *ngIf="it.color==3" style="background-color:    gray; width: 40px; height: 40px; color: white; padding-top: 6px; padding-left: 1px;" class="rounded-circle m-1 text-center">{{it.title}}</div>


                        <sat-popover #p verticalAlign="below">
                        <div style="background-color: #ffffff;" class="popover-wrapper rounded p-4 border">
                            <div class="d-flex" >
                                <div (click)="editWeekDay(i,0) "style="background-color: #E8E8E8; width: 40px; height: 40px; color: black; padding-top: 6px; padding-left: 1px; cursor: pointer;" class="rounded-circle m-1 text-center "placement="bottom">{{it.title}}</div>
                                <div (click)="editWeekDay(i,1) "style="background-color: #3CB371; width: 40px; height: 40px; color: white; padding-top: 6px; padding-left: 1px; cursor: pointer;" class="rounded-circle m-1 text-center">{{it.title}}</div>
                                <div (click)="editWeekDay(i,2) "style="background-color: #DC143C; width: 40px; height: 40px; color: white; padding-top: 6px; padding-left: 1px; cursor: pointer;" class="rounded-circle m-1 text-center">{{it.title}}</div>
                                <div (click)="editWeekDay(i,3) "style="background-color:    gray; width: 40px; height: 40px; color: white; padding-top: 6px; padding-left: 1px; cursor: pointer;" class="rounded-circle m-1 text-center">{{it.title}}</div>
                            </div>
                        </div>
                        </sat-popover>
                    </div>
                </div>
              </td>
              <td *ngIf="i>=from && i<to">70%</td>
              <td *ngIf="i>=from && i<to"  >
                <span [routerLink]="['/dashboard/habbit',item.id]" style="font-size: 28px; color: orange; cursor: pointer;"  class="mr-4">
                    <i class="fa fa-edit"></i>
                </span>
                <span style="font-size: 28px; color: red; cursor: pointer;">
                    <i class="fa fa-times-circle"></i>
                </span>
              </td>
            </tr>
          </tbody>
    </table>
  </div>

<div class="container d-flex justify-content-center  mt-5">
    <ngb-pagination [(page)]="page" [collectionSize]="itemsCount" (pageChange)="handlePageNumber(page)"  [pageSize]="5"  aria-label="Default pagination">
       
    </ngb-pagination>
</div>