
.todoeditorAdd p:hover
{
   color: white;
   background-color: red;
   background-size: unset;
  
}


.section:hover p {
    color: #c83349;
    transition: 0.2s;
}

.section:hover span {
    background-color: #c83349;
    color: white;
    transition: 0.2s;
}



.nested{
    /* <!-- d-flex align-items-center pb-2  --> */
    display: flex;
    align-items: center;
   cursor: pointer;
   cursor: pointer;
   height: 90%;
   margin-top: 10px;
}

.validation
{
    font-size: 18px;
    font-weight: 500;
    color: red;
    display: flex;
    justify-content: center;
}