<div  class="full-height d-flex">
<div style="background-color: rgb(238, 238, 238); " [style.height]="height" [style.width]="width" class="full-height  border ">
<div style="margin-left: 19px; margin-top: 15px;" class="row">
    <img style="cursor: pointer;" width="23px" (click)="flag===false?Povecaj():Smanji()"  src="/assets/sideBarIcons/{{picture}}.png" alt="img" />
</div>
<div style="margin-left: 15px; margin-top: 25px;" class="row sidebar" routerLink="/">
    <img style="cursor: pointer;" width="30px"  src="/assets/sideBarIcons/home.png" alt="img" />
    <p style="position: absolute; z-index: 1; left: 60px; font-size: 23px;" class="mb-4">Home</p>
</div>
<div style="margin-left: 15px; margin-top: 25px;" routerLink="user" class="row sidebar">
    <img style="cursor: pointer;" width="30px"  src="/assets/sideBarIcons/user.png" alt="img" />
    <p style="position: absolute; z-index: 1; left: 60px; font-size: 23px;"  class="mb-4">Account</p>
</div>
<div style="margin-left: 15px; margin-top: 25px;" routerLink="todo" class="row sidebar">
    <img style="cursor: pointer;" width="30px"  src="/assets/sideBarIcons/checklist.png"  alt="img" />
    <p style="position: absolute; z-index: 1; left: 60px; font-size: 23px;"  class="mb-4">Todo list</p>
</div>
<div style="margin-left: 15px; margin-top: 25px;" class="row sidebar">
    <img style="cursor: pointer;" width="30px"  src="/assets/sideBarIcons/brain.png" alt="img" />
    <p style="position: absolute; z-index: 1; left: 60px; font-size: 23px;" class="mb-4">Habbit's</p>
</div>

    
    
</div>

<div   style="width: 100%; z-index: 3; background-color:royalblue; -webkit-background-size: cover; background-size: cover; ">
        <router-outlet></router-outlet>
</div> 
