<!-- <button (click)="logujUsera()">Butonce</button> -->

<div class="conteiner-sm ml-1">
    <div style="margin-top: 50px; " class="row d-flex justify-content-center pt-5 flex-wrap">
        <div style="background-color: #fff; min-width: 280px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" class="col-3 d-flex align-items-center justify-content-center flex-column ">
            <div class="row p-2 ">
                <img  class="rounded-circle img-fluid" width="190px" src={{user.image}}  alt="img" />
            </div>
            <div class="row d-flex flex-column">
                <div style="color:#5a7391;" class="row h5 d-flex justify-content-center p-2">{{user.email}}</div>
                <div style="color:#5a7391;" class="row h2 d-flex justify-content-center">{{user.name +" "+ user.surname}}</div>
            </div>
        </div>
        <div style="background-color: #fff; min-width: 280px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" class=" col-3 p-4">
            <div class="row">
                <div class="h2 ml-3">User info:</div>
            </div>
            <div class="row d-flex flex-column p-3">
                <div class="h3">Name:</div>
                <input type="text" class="form-control col-8" value={{user.name}}>
            </div>
            <div class="row d-flex flex-column p-3">
                <div class="h3">Surname:</div>
                <input type="text" class="form-control col-8" value={{user.surname}}>
            </div>
            <div class="row d-flex flex-column p-3">
                <div class="h3">Location:</div>
                <input type="text" class="form-control col-8" value={{user.location}}>
            </div>
            <div class="row d-flex flex-column p-3">
                <div class="h3">Age:</div>
                <input type="text" class="form-control col-8" value={{user.age}}>
            </div>
        </div>
    </div>
</div>