@media (max-width: 1200px) { 
    div.zika{
        width: 50%;
    }
 }

 @media (max-width: 500px) { 
    div.zika{
        width: 75%;
    }
 }


 .zika
 {
     width: 25%;
 }
.loginPage
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url('../../../public/login.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}