
<div class="loginPage" >
    <div style="background-color: whitesmoke;" className="zika" class="zika shadow-lg p-3 mb-5 rounded container" >
        <div class="row">
            <div class="col d-flex aling-items-center justify-content-center">
                <h1>Registruj se</h1>
            </div>
        </div>
        <hr style="height:2px"/>
        <div class="row d-flex justify-content-center pt-4">
            <div class="col-6">
                <figcaption>E-mail Adresa</figcaption>
                <div class="input-group mb-3 ">
                    <input [(ngModel)]="user.email"  style="height: 45px;" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <figcaption class="text-danger">{{error.email}}</figcaption>
            </div>
            <div class="col-6">
                <figcaption>Šifra</figcaption>
                <div class="input-group mb-3 ">
                    <input [(ngModel)]="user.password"  style="height: 45px;" type="password" class="form-control w-75" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <figcaption class="text-danger">{{error.password}}</figcaption>
            </div>
        </div>
        <div class="row d-flex justify-content-center pt-4">
            <div class="col-6">
                <figcaption>Ime</figcaption>
                <div class="input-group mb-3 ">
                    <input [(ngModel)]="user.name" style="height: 45px;" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <figcaption class="text-danger">{{error.name}}</figcaption>
            </div>
            <div class="col-6">
                <figcaption>Prezime</figcaption>
                <div class="input-group mb-3 ">
                    <input [(ngModel)]="user.surname" style="height: 45px;" type="text" class="form-control w-75" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <figcaption class="text-danger">{{error.surname}}</figcaption>
            </div>
        </div>
        <div class="row d-flex justify-content-center pt-4">
            <div class="col-6">
                <figcaption>Mesto</figcaption>
                <div class="input-group mb-3 ">
                    <input [(ngModel)]="user.location"  style="height: 45px;" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <figcaption class="text-danger">{{error.location}}</figcaption>
            </div>
            <div class="col-6">
                <figcaption>Godine</figcaption>
                <div class="input-group mb-3 ">
                    <input [(ngModel)]="user.age"  style="height: 45px;" type="number" min="18" class="form-control w-75" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <figcaption class="text-danger">{{error.age}}</figcaption>
            </div>
        </div>
        
        <div class="row d-flex aling-items-center justify-content-center pt-4">
            <button style="height:60px; width:150px" type="button" class="btn btn-info"><h5 class="mt-1" (click)="register()">Registruj se</h5></button>
        </div>
    </div>
</div>